#id1{
    background-color: red;
    height: 120px;
    width: 120px;
}

#id2{
    background-color: rgb(4, 0, 255);
    height: 180px;
    width: 180px;
}

#id3{
    background-color: rgb(255, 0, 234);
    height: 200px;
    width: 200px;
}